<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

<!--    notice: 引用外部配置文件的方式去配置properties,这里引用druid.properties-->
    <properties resource="druid.properties"/>

    <!--环境配置，连接的数据库，这里使用的是MySQL-->
    <environments default="mysql">
        <environment id="mysql">
            <!--指定事务管理器的类型，这里使用JDBC的提交和回滚设置-->
            <transactionManager type="jdbc"/>
            <!--
                dataSource 指连接源配置，POOLED是JDBC连接对象的数据源连接池的实现
                合法的取值有POOLED(传统连接池),UNPOOLED
                以及JNDI(Java Naming and Directory Interface),提供了查找和访问各种命名和目录服务的通用、统一的接口,
                在这里就是把数据库当做一个注册表的源来使用,通常要配合web服务器来使用(例如tomcat)
            -->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
<!--        指定注解作用的包,就不用再一一指定了-->
        <package name="com.xycode.mybatisLecture.annotationEX.dao"/>

<!--&lt;!&ndash;        指定注解作用的类&ndash;&gt;-->
<!--        <mapper class="com.xycode.mybatisLecture.annotationEX.dao.IUserDao"/>-->
    </mappers>
</configuration>